@media screen and (max-width: 2000px) {
  .headerParagraph {
    font-size: 8rem;
  }
}
@media screen and (max-width: 992px) {
  .headerParagraph {
    font-size: 6rem;
  }
}

@media screen and (max-width: 380px) {
  .headerParagraph {
    font-size: 5rem;
  }
}

.headerParagraph {
  text-align: center;
  font-family: "Crimson Text", serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 2000px) {
  .headerSubParagraph {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .headerSubParagraph {
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 380px) {
  .headerSubParagraph {
    padding: 0;
  }
}
.headerSubParagraph {
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  text-align: center;
}

.firstBio,
.secondBio {
  padding: 60px 20px;
  line-height: 1.8;
}

h5 {
  font-family: "Crimson Text", serif;
}

.about-mag {
  margin-top: 0;
  padding-top: 30px;
  font-family: "Raleway", sans-serif;
}

/* BIO SECTION */

.bio {
  font-family: "Raleway", sans-serif;
}

.firstBio {
  margin-top: 30px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .firstBio {
    margin-top: 10px;
    padding-top: 0px;
  }
}
.secondBio {
  padding-top: 90px;
}

@media screen and (max-width: 767px) {
  .secondBio {
    padding-top: 20px;
  }
}

.bioImgSection {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .bioImgSection {
    padding-top: 10px;
  }
}

.bioImg {
  border-radius: 100%;
  width: 90%;
}

@media screen and (max-width: 767px) {
  .bioImg {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .bioImg {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .bioImgTitle {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 2000px) {
  .topBioImage {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .topBioImage {
    margin-bottom: 40px;
  }
}

.bioRow2 {
  padding-bottom: 50px;
}
/* CAROUSEL CAPTION  */
@media screen and (max-width: 2000px) {
  .carouselCaption1 {
    padding-bottom: 40px !important;
  }
}


@media screen and (max-width: 767px) {
  .carouselCaption1 {
    padding-bottom: 40px !important;
    padding-right: 30px !important;
  }

  
}

@media screen and (max-width: 767px) {
  .carouselCaption2 {
   
    padding-right: 40px !important;
  }
