.container {
  font-family: "Crimson Text", serif;
  font-size: 25px;
  /* margin: 0 auto !important; */
  /* max-width: 600px !important; */
}
.donateContentContainer {
  max-width: 600px !important;
  text-align: center !important;
  margin: auto !important;
}
.donateFormTitle {
  padding-bottom: 10px;
}

.donationDescription {
  font-size: x-large;
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding: 20px 0;
}

.donatePageImg {
  padding-bottom: 20px;
}

#donateButton {
  text-align: center;
}

.donateViaVenmoButton {
  background-color: black !important;
  color: #f4f4f4 !important;
}

.donateViaVenmoButton:hover {
  background-color: #f4f4f4 !important;
  border-color: black !important;
  color: black !important;
  transition: ease-in-out 200ms;
}

.bottomParagraph {
  padding-bottom: 60px;
}
