

.SubmissionFormContainer {
  max-width: 400px;
  margin: 75px auto 0;
  line-height: 0.8rem;
  font-family: "Raleway", sans-serif;
}

.smallTextBox {
  width: 400px;
}

.textBox {
  width: 400px;
  height: 150px;
}

.SubmitButton {
  margin-top: 30px;
}

.choose-file-button {
  padding: 0.375rem 0.75rem 0.375rem 0.05rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.choose-file-button:hover {
  cursor: pointer;
}
