body {
  background-color: #faf7f2 !important;
}

.navbar-brand {
  font-family: "Crimson Text", serif;
  font-size: 2rem !important;
}

.nav-item {
  font-family: "Raleway", sans-serif;
  font-size: 1rem !important;
}

/* Welcome Page With Featured Photo Carousel and Enter Main Page Button */

@media screen and (max-width: 2000px) {
  .content-wrap {
    margin: 50px 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .content-wrap {
    margin: 150px 0 !important;
  }
}

@media screen and (max-width: 450px) {
  .content-wrap {
    margin: 200px 0 !important;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.img-overlay:before {
  content: " ";
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}

@media screen and (max-width: 2000px) {
  .explore-button {
    font-size: 1.8rem !important;
    padding-bottom: 5px !important;
  }
}

@media screen and (max-width: 450px) {
  .explore-button {
    font-size: 1rem !important;
    padding-bottom: 5px !important;
  }
}

/* Footer */

#footer {
  text-align: center;
}

.bottom-container {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0px auto;
  height: 20px;
}

.copywriteSignature {
  font-size: 12px;
}

.instagramIcon {
  font-size: 1.3rem;
  color: black;
  padding-bottom: 1rem;
  width: 100%;
  margin: auto;
}

.instagramIcon:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* THANK YOU PLACE HOLDER */

.thankYouContainer {
  height: 700px;
  text-align: center;
  margin: auto;
}
