.theme {
  text-align: left;
}

h6 {
  text-align: left;
}
.themeDefinition {
  font-size: 1rem;
  text-align: left !important;
  padding-bottom: 15px;
}

.themeDescription {
  text-align: left;
}

.submissionGuidelinesContainer {
  font-family: "Raleway", sans-serif;
  padding: 60px 0;
}

.submissionGuidelines {
  font-family: "Crimson Text", serif;
}

.submissionInstructionContainer {
  font-family: "Raleway", sans-serif;
  line-height: 2;
}

.formSubheader {
  font-family: "Crimson Text", serif;
  margin: 20px 0;
  text-align: center;
}

.themeContainer {
  padding: 0 0 20px;
}

ol {
  line-height: 1.5;
}

.fileSizeDescription {
  line-height: 1.2;
  font-size: 1.1rem;
}
